// colors

//blue
$blue            : #1FB6FF
$ligh-blue       : #85D7FF
$dark-blue       : #009EEB
//orange
$orange          : #FF7849
$light-orange    : #FF9E7C
$dark-orange     : #FF5216
//yellow
$yellow          : #FFD55F
//smoke aka Mr.grey :D
$smoke           : #E0E6ED
$light-smoke     : #D3DCE6
$dark-smoke      : #C0CCDA
//silver
$silver          : #8492A6
//snow :) and finaly Mr.jon snow
$snow            : #F9FAFC
$dark-snow       : #EFF2F7
$extra-dark-snow : #E5E9F2
