doctype html
html(lang="ar")
  head
    meta(charset="utf-8")
    meta(name="description" content="شارك الآخرين الكتب التي قرأتها وتوصي بها")
    title ارتقي
    link(rel="stylesheet", href="styles/main.min.css")

  body
    .container
      header.header
        .header-logo.row
          h2.label-logo.column.large-4 إِرتقي
        .header-nav
          li
            a ارتقي
          li
            a ارتقي
          li
            a ارتقي
        section
          .title ارتقي
          .sub-title شارك الآخرين عناوين الكتب المهمة التي قرأتها وتوصي بها
