!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title ارتقي
    %meta{name: "description", content: "شارك الآخرين الكتب التي قرأتها وتوصي بها"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300", rel: "stylesheet", type: "text/css"}
    %link{rel: "stylesheet", href: "styles/main.min.css"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}
  %head

%body

  .header.section.gray-bg.text-center
    .header-gradient
    .header-content
      %h1.header-title ارتقي
      %h4.margin-bottom-none شارك الآخرين عناوين الكتب المهمة التي قرأتها وتوصي بها

  .section
    .row
      .medium-8.large-8.column.column--center
        %h4.margin-bottom-three.text-center ارتقي عبارة عن شبكة اجتماعية تساعدك على

    .row
      .medium-8.large-8.column.column--center
        .row
          .medium-6.large-6.column.text-center
            <svg class="gray-svg feature-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 32 40" enable-background="new 0 0 32 32" xml:space="preserve"><g><path d="M0,2v28c0,1.105,0.895,2,2,2h2V0H2C0.895,0,0,0.895,0,2z"/><path d="M30,0H6v32h24c1.105,0,2-0.895,2-2V2C32,0.895,31.105,0,30,0z M23.969,18l-6,6l-6-6c0,0-1.969-1.77-1.969-3.516   C10,12.008,12.008,10,14.484,10c1.422,0,2.68,0.676,3.5,1.711c0.82-1.035,2.074-1.711,3.5-1.711c2.477,0,4.484,2.008,4.484,4.484   C25.969,16.23,23.969,18,23.969,18z"/></g><text x="0" y="47" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Zlatko Najdenovski</text><text x="0" y="52" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>

            %p
              %span.text-success.check &#10004;
              نشر عناوين كتبك المفضلة وانطباعك عنها لينتفع و يستفاد منها الآخرين

          .medium-6.large-6.column.text-center
            <svg class="feature-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><rect x="49.188" y="82.922" width="4.748" height="11.869"/><path d="M49.188,76.986c-0.001-7.293,2.839-14.149,7.994-19.307l9.571-9.568c4.259-4.26,6.604-9.924,6.604-15.949  c0-12.506-10.117-22.624-22.553-22.624c-12.435,0-22.552,10.118-22.552,22.554h-4.748c0-15.055,12.247-27.302,27.3-27.302  c15.054,0,27.302,12.248,27.302,27.302c0,7.361-2.84,14.218-7.996,19.375l-9.57,9.569c-4.26,4.26-6.605,9.923-6.604,15.948H49.188z"/><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Thomas Hirter</text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>

            %p
              %span.text-success.check &#10004;
              أن تسأل عن توصيات لكتب في مجالات مختلفة

  .section.gray-bg
    .row
      .column.large-9.column--center
        %p.text-center قم بإدخال بريدك الإلكتروني لتحصل علي إشعار عند إطلاق ارتقي

        %form#mc-form.margin-bottom-two{role: "form"}
          .row
            .large-8.medium-8.column
              %input.input-large#mc-email.form-control.margin-bottom-one{placeholder: "البريد الإلكتروني", type: "email"}
            .large-4.medium-4.column
              %button.button.expand{type: "submit"} إشترك
            .large-12.column.text-right
              %small
                %label.margin-bottom-none.mc-label.brand-font{for: "mc-email"}

      %p.text-center.margin-bottom-none
        تواصل على &nbsp;
        %a{href: "https://twitter.com/ahmadajmi", target: "_blank"} تويتر

  %script{src: "js/app.js"}

%body
%html