.form-control:focus { box-shadow: none; }

.error {
  font-weight: 400;
  font-size: 16px;
  color: #e74c3c;
}

.valid {
  font-weight: 400;
  font-size: 16px;
  color: #5cb85c;
}

.mc-label {
  display: block;
  font-size: 13px;
  font-weight: 400;
  padding-top: 6px;
}

.form-control {
  outline: none;
  border: 1px solid #E1E8ED;
  border-radius: 3px;
  padding: .6rem;
  width: 100%;
  margin-bottom: 1em;
}

.button {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
  padding: .6rem 2em;
}

.button.expand { width: 100%; }

.button:hover,
.button:focus,
.button:active {
  background-color: #c0392b;
  border-color: #c0392b;
}

.text-success { color: #1ABC9C; font-weight: 300; }
